<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <header class="my-3 bg-dark text-light">
        <h2>
          <a href="/">Wikipedia</a>
        </h1>
      </header>
      {% block main %}{% endblock %}
      <footer class="bg-dark text-light">
        <p class="text-center">© All rights reserved by sohira akio.</p>
      </footer>
    </div>
  </body>
</html>
